html, body {
    padding: 0;
    margin: 0;
    height: auto;
}
html {
    width: 100%;
    background-color: orange;
}

body {
    max-width: 1024px;
    display: block;
    margin: 0 auto;
    background: white;
    -moz-box-shadow: 0 0 200px #000;
    -webkit-box-shadow: 0 0 200px #000;
    box-shadow: 0 0 200px #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "gill sans", sans-serif;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

h3{
    font-size: 1.25em;
    margin-bottom: 1em;
}

p {
    font-family: "gill sans", sans-serif;
    font-weight: 100;
    margin-bottom: 1em;
}

a {
    color: black;
    text-decoration: none;
    font-family: "gill sans", sans-serif;
}

hr {
    margin: 0 0 1em 0;
}
header {
    background: #cccccc;
    width: 100%;
    overflow: hidden;
    text-align: center;
    vertical-align: bottom;
    padding-top: 40px;
    font-family: "gill sans", sans-serif;
}

.header-top, .header-bottom {
    display: block;
    font-size: 3em;
    font-weight: 100;
}

.header-top span, .header-bottom span {
    color: #ffa500;
}

.header-bottom {
    font-size: 1.75em;
    margin-bottom: 1em;
}

nav, footer{
    width: 100%;
    background: #eee;
    padding: 1em 0;
    font-size: 1em;
}

.grey-shadow {
    -moz-box-shadow: 0 0 12px grey;
    -webkit-box-shadow: 0 0 12px grey;
    box-shadow: 0 0 12px grey;
}

nav > ul {
    list-style: none;
    text-align: center;
}

nav ul > li {
    display: inline-table;
    vertical-align: middle;
}

nav ul > li a {
    margin-top: 5px;
    margin-left: 5px;
}

.main-content {
    text-align: center;
    padding: 1.5em 0;
    min-height: 600px;
}
.panel {
    background: #eeeeee;
    border: 1px solid #666666;
    height: 335px;
    padding-bottom: 5px;
    width: 300px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    margin: 0 0 1em 1em;
}

.light-grey-shadow {
    -moz-box-shadow:0 0 12px #ccc;
    -webkit-box-shadow: 0 0 12px #ccc;
    box-shadow: 0 0 12px #ccc;
}

.panel:hover {
    -moz-box-shadow: 0px 0px 12px orange;
    -webkit-box-shadow: 0px 0px 12px orange;
    box-shadow: 0px 0px 12px orange;
}

.panel > img {
    width: 300px;
    height: auto;
}

a .panel h3 {
    font-size: 1em;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    color: #666666;
    text-align: center;
    background: #cccccc;
    border-bottom: 1px solid #666666;
}

.panel > h4 {
    color: #666666;
    text-align: center;
}
p {
    font-size: 1.125em;
    width: 90%;
    margin: 0 5% 1em 5%;
}

p > span {
    color: orange;
}

footer {
    text-align: center;
    font-family: "gill sans", sans-serif;
}